html,body {
    margin:0;
    padding:0;
    }
@font-face {
    font-family: chineseFont;
    src: url(go3v2.ttf);
}
body{
    background-color: red;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;  
    background-color: #333;  
    
}
li{
    float:left;
}
ul a:hover{
    background-color: red;
}
li a{
    display:block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
.logobanner{
    position: relative;
    width:100vw;
    height: 166px;  
    float:right;
    background-color: white;
    
    
}
p1{
    font-size: 80%;
}
.logotext{
    font-family: chineseFont;
    font-size: 8vw;
    position: relative;
    top:-20vh;
    left:0vw;
    text-align: center;
}
.logobanner img{
    object-fit: cover;
    position: relative;
    height:200px;
    width: 200px;
    
}
.pagediv{
    background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-color: red;
    padding: 10px;
    padding-top: 230px;
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);*/ 
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .menubar-wrap{
      position: fixed;
  }